version: '3.8'
services:
  db:
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 1s
      timeout: 5s
      retries: 10
    image: postgres
    container_name: "postgresql_container"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1111
      - POSTGRES_DB=stock_db
    ports:
      - "5432:5432"
    restart: always

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4:7
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: 1111
    ports:
      - "5050:80"

  app:
    depends_on:
      db:
        condition: service_healthy
    image: docker-app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "stock_app"
    ports:
      - "8181:8181"
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db/stock_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=1111
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop


